<% layout('/layouts/boilerplate')%>
<!-- <div id="clustermap"></div> -->
    <h1>All Campgrounds</h1>
    <ul>
         <% for (let campground of campgrounds) {%>
            
        <div class="card mb-3">
            <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length > 0) { %>  
                <img src="<%= campground.images[0].url%>" alt="" srcset="" class="img-fluid">
                <% } else { %>
                <img src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" srcset="" class="img-fluid">
                <% } %>  
            </div>
            <div class="col-md-8">
                <div class="card-body"><h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-dark">view <%= campground.title %></a>
                </div>
            </div>
        </div>
        </div>
        <%} %>
        </ul>
<!-- <script >
    let mapAccessToken= '<%- process.env.MAPBOX_TOKEN %>';
    let campgrounds =  {features: <%-JSON.stringify(campgrounds)%>} ;
</script> -->
<!-- <script src="/javascripts/clusterMap.js"></script> -->
